*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container{
    background-color: gray;
    width: 100%;
    display: flex;
}

#calculator{
    border: 5px solid black;
    width: 400px;
    margin: auto;
    padding: 5px;
    min-height: 400px;
    display: flex;
    flex-flow: column;
}

.screen{
    border: 3px solid black;
    width: 90%;
    height: 50px;
    margin: 10px auto;
    background-color: white;
}

.buttons-container{

    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    width: 70px;
}

button {
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 5px black;
    background-color: white;
}

button:hover{
    cursor: pointer;
    transition-duration: 0.1s;
    background-color: rgb(159, 158, 216);
}

button:active{
    opacity: 0.7;
    box-shadow: 1px 1px 3px black;
    transition: 0.1s;
}



